.A2{
	background-color:white;
}

.Outer{
	
	width: 800px;
	height: 500px;
	border:2px solid black;
	text-align: center;
	margin-top: 100px;
	margin-left: 400px;
}
.upper{
    background-color:#FF9999;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border:1.5px solid black;
	height:180px;
}
.bottom{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	
	height:220px;
}
.ul{
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom:0px;
	height: 200px;
	background-color:#FF9999;
	margin-bottom:30px;
	
}

.bottom-first{
	background-color: yellow;
	border-left: 1.5px solid black;
	border-bottom: 1.5px solid black;
	width: 552.5px;
	height: 297px;
	float: left;
}
.bottom-first .imagesection{
	background-image:url('img1.jpg');
	margin-left: 5.5px;
	margin-top:-15px;
	width: 98%;
	height: 94%;
	padding-top:0px;
	
}
.imagesection p{
	padding-top: 20%;
	color: white;
	font-family: "arial";
	font-size: 30px;
}
.bottom-second{
	float: right;
	background-color: lightgrey;
	border-right: 1.5px solid black;
	border-bottom:  1.5px solid black;
	border-left:  1.5px solid black;
	width: 221.5px;
	height: 297px;
}
.bottom-second .image-section2{
	margin-left: 5px;
	margin-top: 5px;
	
}

.im2{
  width:150px; 
  height:130px;
}

#p1{
	display: inline-block;
  text-align: justify;
  font-size: 35px;
  padding-top:4px;
  
}

#p2{
	 font-size: 20px;
  margin: -8px;
}

#p3{
	
  text-align:left-side;
  font-size:25px;
	
}
