
.sections1{
  width:1280px;
  border: 1.5px solid black;
}

.sections2{
  width:1280px;
  border: 3px solid black;
}
.section1 {
  
  margin-top:10px;
  max-height: 260px;
  overflow: hidden;
  margin-bottom:0px;
}
.section1 img {
  max-height: initial;
  object-fit:cover;
  object-position:0% 0%;
}

.section2 {
  max-height: 260px;
  overflow: hidden;
  margin-top:5px;
}
.section2 img {
  margin-top: -390px;
  object-fit:cover;
  object-position:100% 100%;
  
}
.section3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.section3 img{
  height: 500px;
  height: 300px;
}