.sections1{
    
    width:1280px;
	border:2px solid black;
}

.sections2{
    
    width:1280px;
	border:4px solid black;
}


.section1 {
	
  max-height: 260px;
  overflow: hidden;
}
.section1 img {
  max-height: initial;
}

.section2 {
  max-height: 260px;
  overflow: hidden;
}
.section2 img {
  margin-top: -390px;
}
.section3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.section3 img{
  height: 500px;
  height: 300px;
}